a,a:hover,a:focus
{
	color : #0074C5;
}
h1
{
	font-size : 36px;
	color : #5c5c5c;
}
h3
{
	font-size : 20px;
	margin-bottom : 8px;
	margin-top : 15px;
}
h3 a,
h5 a
{
	color : #0074C5;
}
h5.b2014
{
	color : #900;
	font-size : 120%;
	font-weight : bold;
}
table.j-w-full
{
	width : 100%;
}
.j-decor-roundarrow
{
	width		: 45px;
	height		: 45px;
	background	: url("../img/decor-roundarrow.png");
}
.j-ribbon
{
	color		: white;
	background	: url("../img/bg-stripe-green-top.png") no-repeat right top, url("../img/bg-stripe-green-bottom.png") no-repeat right bottom;	
}
.j-ribbon.small
{
	padding : 2px 12px 2px 5px;
	font-size : 90%;
	font-weight : bold;
}
.j-navbar-tip
{
	position : relative;
	display	 : inline-block;
}
.j-navbar-tip.update:before,
.j-navbar-tip.schedule:before
{
	content 		: "2014";
	position 		: absolute;
	display 		: block;
	top 			: -12px;
	color			: white;
	line-height 	: 100%;
	padding			: 1px 5px;
	font-size		: 90% !important;
	font-weight		: normal;
	text-transform	: none;
	border			: none;
	background		: url("../img/bg-stripe-green-top.png") no-repeat right top, url("../img/bg-stripe-green-bottom.png") no-repeat right bottom;	
}
@media screen and (max-width:768px)
{
	.j-navbar-tip.update:before,
	.j-navbar-tip.schedule:before
	{
		display : none;
	}
	.j-navbar-tip.schedule:after
	{
		content 		: "Обновление";
		color			: white;
		line-height 	: 120%;
		font-size		: 80% !important;
		font-weight		: normal;
		text-transform	: none;
		border			: none;
		padding			: 0 10px;
		background		: none;
	}
	.j-navbar-tip.schedule.even:after
	{
		content : "Числитель";
	}
	.j-navbar-tip.schedule.odd:after
	{
		content : "Знаменатель";
	}	
}
.j-navbar-tip.schedule:before
{
	color		: #999;
	padding		: 0;
	top			: -10px;
	background	: none;
}
.j-navbar-tip.schedule.even:before	{ content : "Числитель"; } /*чс*/
.j-navbar-tip.schedule.odd:before	{ content : "Знаменатель"; } /*зн*/


.j-display-block	{	display : block; 		}
.j-display-iblock	{	display : inline-block; }
.j-hidden			{	display : none; 		}
.j-absolute			{	position : absolute; 	}
.j-relative			{	position : relative; 	}
.j-br				{	display	 : inline!important;}


.j-padd				{	padding : 30px;			}				.j-marg				{	margin : 30px;			}
.j-padd-xs			{	padding : 5px;			}				.j-marg-xs			{	margin : 5px;			}
.j-padd-sm			{	padding : 10px;			}				.j-marg-sm			{	margin : 10px;			}
.j-padd-lg			{	padding : 40px;			}				.j-marg-lg			{	margin : 40px;			}
.j-padd-md			{	padding : 20px;			}				.j-marg-md			{	margin : 20px;			}

.j-padd2			{	padding-top : 30px; padding-bottom : 30px;	}	.j-marg2		{	margin-top : 30px; margin-bottom: 30px;		}
.j-padd2-xs			{	padding-top : 5px;	padding-bottom : 5px;	}	.j-marg2-xs		{	margin-top : 5px; margin-bottom: 5px;		}
.j-padd2-sm			{	padding-top : 10px; padding-bottom : 10px;	}	.j-marg2-sm		{	margin-top : 10px; margin-bottom: 10px;		}
.j-padd2-lg			{	padding-top : 40px; padding-bottom : 40px;	}	.j-marg2-lg		{	margin-top : 40px; margin-bottom: 40px;		}
.j-padd2-md			{	padding-top : 20px; padding-bottom : 20px;	}	.j-marg2-md		{	margin-top : 20px; margin-bottom: 20px;		}

.j-padd-right		{	padding-right : 30px;	}				.j-marg-right		{	margin-right : 30px;	}
.j-padd-right-sm	{	padding-right : 10px;	}				.j-marg-right-sm	{	margin-right : 10px;	}
.j-padd-right-lg	{	padding-right : 40px;	}				.j-marg-right-lg	{	margin-right : 40px;	}
.j-padd-right-md	{	padding-right : 20px;	}				.j-marg-right-md	{	margin-right : 20px;	}
.j-padd-right-xs	{	padding-right : 5px;	}				.j-marg-right-xs	{	margin-right : 5px;		}
.j-padd-left		{	padding-left : 30px;	}				.j-marg-left		{	margin-left : 30px;		}
.j-padd-left-xs		{	padding-left : 5px;		}				.j-marg-left-xs		{	margin-left : 5px;		}
.j-padd-left-sm		{	padding-left : 10px;	}				.j-marg-left-sm		{	margin-left : 10px;		}
.j-padd-left-md		{	padding-left : 20px;	}				.j-marg-left-md		{	margin-left : 20px;		}
.j-padd-left-lg		{	padding-left : 30px;	}				.j-marg-left-lg		{	margin-left : 30px;		}
.j-padd-top			{	padding-top : 30px;		}				.j-marg-top			{	margin-top : 30px;		}
.j-padd-top-md		{	padding-top : 20px;		}				.j-marg-top-md		{	margin-top : 20px;		}
.j-padd-top-sm		{	padding-top : 10px;		}				.j-marg-top-sm		{	margin-top : 10px;		}
.j-padd-top-xs		{	padding-top : 5px;		}				.j-marg-top-xs		{	margin-top : 5px;		}
.j-padd-top-lg		{	padding-top : 40px;		}				.j-marg-top-lg		{	margin-top : 40px;		}
.j-padd-bottom-lg	{	padding-bottom : 40px;	}				.j-marg-bottom-lg	{	margin-bottom : 40px;	}
.j-padd-bottom-sm	{	padding-bottom : 10px;	}				.j-marg-bottom-sm	{	margin-bottom : 10px;	}
.j-padd-bottom-xs	{	padding-bottom : 5px;	}				.j-marg-bottom-xs	{	margin-bottom : 5px;	}
.j-padd-bottom-md	{	padding-bottom : 20px;	}				.j-marg-bottom-md	{	margin-bottom : 20px;	}
.j-padd-bottom		{	padding-bottom : 30px;	}				.j-marg-bottom		{	margin-bottom : 30px;	}
.j-padd-0			{	padding 		: 0 !important; }		.j-marg-0			{	margin 			: 0 !important; }
.j-padd-right-0		{	padding-right	: 0 !important;	}		.j-marg-right-0		{	margin-right	: 0 !important; }
.j-padd-left-0		{	padding-left	: 0 !important;	}		.j-marg-left-0		{	margin-left		: 0 !important; }
.j-padd-top-0		{	padding-top		: 0 !important;	}		.j-marg-top-0		{	margin-top		: 0 !important; }
.j-padd-bottom-0	{	padding-bottom	: 0 !important;	}		.j-marg-bottom-0	{	margin-bottom	: 0 !important; }


.j-color-red		{	color : #900 !important;	}
.j-color-gray		{	color : #5c5c5c;			}
.j-color-xgray		{	color : #7b7b7b;			}
.j-color-darkolive	{	color : #887D1E;			}
.j-color-olive		{	color : olive;				}
.j-color-darkyellow	{	color : #A87300;			}
.j-color-orange		{	color : #F58300;			}
.j-color-green		{	color : #2EA910;			}
.j-color-purple		{ 	color : #7D307D;			}
.j-color-white		{ 	color : white;				}
.j-color-yellow		{	color : #ffdb3d;			}


a.j-color-darkolive:focus,
a.j-color-darkolive:hover
{	color : #887D1E;/*6D5B00;*/	}

.j-accent			
{
	font-weight : bold;
	color		: #890000;	
}
.j-bold				{	font-weight 	: bold;		}
.j-italic			{	font-style		: italic; 	}
.j-textblock		{	line-height 	: 120% !important;	}
.j-smaller			{	font-size 		: 85%;		}
.j-smaller-x		{	font-size 		: 80%;		}
.j-larger			{	font-size 		: 120%;		}
.j-align-justify	{	text-align 		: justify; 	}
.j-align-right		{	text-align 		: right; 	}
.j-align-center		{	text-align 		: center; 	}
.j-valign-center	{	vertical-align 	: middle !important; 	}
.j-valign-top		{	vertical-align 	: top; 		}
.j-uppercase		{	text-transform	: uppercase;}


.j-border				{	border			: 1px solid #ccc; }
.j-border-top			{	border-top		: 1px solid #ccc; }
.j-border-bottom		{	border-bottom	: 1px solid #ccc; }
.j-border-double		{	border-top 		: 1px solid #ccc; }
.j-border-double		{	border-bottom	: 1px solid #ccc; }
.j-border-light			{	border			: 1px solid #ddd; }
.j-border-light-top		{	border-top		: 1px solid #ddd; }
.j-border-light-bottom	{	border-bottom	: 1px solid #ddd; }
.j-border-light-double	{	border-top 		: 1px solid #ddd; }
.j-border-light-double	{	border-bottom 	: 1px solid #ddd; }
.j-shadow 
{
	-webkit-box-shadow: -1px 2px 13px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    -1px 2px 13px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         -1px 2px 13px 0px rgba(50, 50, 50, 0.7);
}


.j-roundcorner-xs	{	border-radius : 3px;	}
.j-roundcorner-sm	{	border-radius : 4px;	}
.j-roundcorner-md	{	border-radius : 5px;	}
.j-roundcorner		{	border-radius : 7px;	}
.j-roundcorner-lg	{	border-radius : 10px;	}


.j-bg-white			{	background-color : white;	}
.j-bg-white-yellow	{	background-color : #F9F6F3; }
.j-bg-sand			{	background-color : #E6DDCF; }
.j-bg-beige			{	background-color : #F8F5E6; }
.j-bg-yellow		{	background-color : #F7F1D2; }


.j-date
{
	padding-left : 10px;
	border-left  : 7px solid #B2B249;
}
.j-vlist
{
	list-style : none;
}
.j-vlist-by-star
{
	margin      : 0;
	padding     : 0;	
	margin-left : 20px;
}
.j-vlist-by-star li
{
	list-style    : url('../img/icon-star.gif');
	margin-bottom : 5px;
}
.j-vlist-by-space li
{
	margin-bottom : 10px;
}
.j-vlist-by-star li ul
{
	margin        : 0;
	margin-bottom : 10px;
	padding-left  : 20px;
	padding-top   : 5px;
}
.j-vlist-by-star li ul li
{
	margin-bottom : 3px;
	list-style    : url('../img/icon-star.gif');
}
.j-hlist-by-star li
{
	padding-left : 18px;
	margin-right : 7px;
	background   : url("../img/icon-star.gif") no-repeat left 25%;
}
.j-hlist-by-star li.no-pad
{
	padding-left : 0;	
}
.j-hlist-by-star li.no-style
{
	list-style-image : none;
	list-style       : none;
}
.j-hlist-by-star li.no-style
{
	background-image: none;
}
.b-hlist
{
	margin      : 0;
	padding     : 0;
	list-style  : none;
}
.b-hlist li
{
	position    : relative;
	float       : left;
	white-space : nowrap;
}
.b-hlist li:last-child
{
	margin-right : 0;
}
.b-hlist-by-space li
{
	margin : 10px 40px 10px 0;
}
.j-icon-placeholder
{
	position	 : relative;
	display		 : block;
	line-height	 : 100%;
	padding-left : 40px !important;
}
.j-icon
{
	position : absolute;
	display	 : block;
	left	 : 0;
	bottom	 : 2px;
	height	 : 30px;
	width	 : 34px;

}
.j-icon-admission	{ background : url("../img/icon-admission.gif") no-repeat; }
.j-icon-student		{ background : url("../img/icon-student.gif") no-repeat; }
.j-icon-alumni		{ background : url("../img/icon-alumni.gif") no-repeat; }
.j-icon-staff		{ background : url("../img/icon-staff.gif") no-repeat; }

.navbaritem-decor,
.crown-decor
{
	position	: absolute;
	display 	: block;
	top 		: -10px;
	left		: 50%;
	margin-left	: -25px;
	width		: 41px;
	height		: 15px;
	background	: url("../img/decor-2.png") no-repeat;
}

.weave-decor
{
	position	: absolute;
	display 	: block;
	top 		: -17px;
	left		: 50%;
	margin-left	: -25px;
	width		: 59px;
	height		: 37px;
	background	: url("../img/weave-decor.png") no-repeat;
}

.weave-decor2
{
	position	: absolute;
	display 	: block;
	top 		: -17px;
	left		: 50%;
	margin-left	: -25px;
	width		: 59px;
	height		: 37px;
	background	: url("../img/weave-decor.png") no-repeat;
}
.worldmap-decor
{
	position	: absolute;
	display 	: block;
	top 		: -30px;
	left		: 50%;
	margin-left	: -100px;
	width		: 200px;
	height		: 103px;
	background	: url("../img/decor-worldmap.png") no-repeat;
}