<!doctype html>
<html>
<meta charset="utf-8"/>
<head>
    <title>Timetable</title>
    <style type="text/css">
    body
    {
        font-family: arial;
    }

    th,td
    {
        margin: 0;
        text-align: center;
        border-collapse: collapse;
        outline: 1px solid #e3e3e3;
    }

    td
    {
        padding: 5px 10px;
    }

    th
    {
        background: #666;
        color: white;
        padding: 5px 10px;
    }
    </style>

</head>
<body>
    <table width="80%" align="center" >
    <div id="head_nav">
    <tr>
        <th>Время</th>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
        <th>Суббота</th>
    </tr>
</div>

    <tr>
        <th>08:30 - 10:05</th>
    </tr>

    <tr>
        <th>10:15 - 11:50</th>
    </tr>

    <tr>
        <th>12:00 - 13:35</th>
    </tr>

    <tr>
        <th>13:50 - 15:25</th>
    </tr>

    <tr>
        <th>15:40 - 17:15</th>
    </tr>

    <tr>
        <th>17:25 - 19:00</th>
    </tr>


    <tr>
        <th>19:10 - 20:45</th>
    </tr>
</table>

